@media (max-width: 1200px)
@media (max-width: 991px)
@media (max-width: 767px)
@media (max-width: 575px)
    .header__phone
        font-size: 16px
    .advantages__subtitle
        font-size: 11px
    .advantages__descr
        font-size: 11px
    .advantages__item
        max-width: 130px
    .header__official
            span
                font-size: 12px
    .promo__icons
        width: 100%
    .feed-form
        align-items: center
        width: 100%
    .button_submit
        width: 60%
    .title_left
        text-align: center
    .consultation__descr
        text-align: center
    .promo
        padding: 21px 5px 93px 5px